.center{
    margin-left: auto;
    margin-right: auto;
    width:75%;
    border: 1px solid black;
    text-align: center;
}
body{
    font-family: 'Roboto', sans-serif;
}
td {
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
}
h1{
    color:#800080;
}
tr:nth-child(even) {
    background-color: #ffffff;
    color:#000000;
}
tr:nth-child(odd){
    background-color: #C0C0C0;
    color:#000000;
}
th{
    background-color:#ffffff;
    height: 25px;
    width: 25px;
    border: 1px solid black;
    color:#800080;
    text-align: center;
    vertical-align: middle;
}
.btn {
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

/* Green */
.success {
    position:relative;
    left:800px;
    top:2px;
    background-color: #4B0082;
    border-color: #4B0082;
    color: #000000;
}

.success:hover {
    background-color: #4B0082;
    color: white;
}

/* Blue */
.info {
    background-color: #2196F3;
    border-color: #2196F3;
    color: #000000;
}

.info:hover {
    background: #2196F3;
    color: white;
}
.danger {
    background-color: #f44336;
    border-color: #f44336;
    color: #000000;
}

.danger:hover {
    background: #f44336;
    color: white;
}